# server configuration
NODE_ENV=development
PORT=3000

# database configuration
DATABASE_URL="postgresql://<user>:<password>@postgres:5432/ecommerce_db"
DATABASE_USER="<user>"
DATABASE_PASSWORD="<password>"
DATABASE_NAME="ecommerce_db"

# bcrypt configuration
BCRYPT_SALT_ROUNDS=10

# jwt tokens configuration
JWT_ACCESS_SECRET="choose_strong_jwt_access_token_secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="choose_strong_jwt_refresh_token_secret"
JWT_REFRESH_EXPIRES_IN="7d"

# stripe configuration
STRIPE_SECRET_KEY="stripe_sk_test_secret_key"
STRIPE_WEBHOOK_SECRET="stripe_webhook_secret"
CURRENCY="usd"

# payment fees
TAX_RATE=0.05 # 5%
SHIPPING_COST=5